{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
<script src="{{ 'shop-the-look.js' | asset_url }}" defer></script>
{% capture splideOptions %}
  {
      "type"   : "{{ section.settings.slide_type }}",
      "perPage": {{ section.settings.slide_per_page }}
  }
{% endcapture %}

<div class="shop-the-look-container page-width">
  <div class="grid grid--1-col grid--2-col-tablet grid--3-col-desktop shop-the-look-card-wrapper">
    <splider-component data-options='{{ splideOptions }}' class="splide grid grid--1-col grid--2-col-tablet grid--3-col-desktop shop-the-look-card-wrapper">  
  <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
          <li class="splide__slide">
            <div class="shop-the-look-card grid__item">
              <!-- Image or Placeholder -->
              <div class="shop-the-look-card__image-wrapper media media--portrait isolate">
                {% comment %} Hotspots {% endcomment %}
                {% if block.settings.hotspot_primary and block.settings.hotspot_product_1 != blank%}
                  <div class="shop-the-look_hotspot--wrapper">
                  <div class="shop-the-look_hotspot " style="top: {{block.settings.hotspot_1_vertical_position}}%; left: {{block.settings.hotspot_1_horizontal_position}}%"></div>
                  {% render 'hotspot-card', product:block.settings.hotspot_product_1 %}
                  </div>
                {% endif %}
                {% if block.settings.hotspot_secondory %}
                  <div class="shop-the-look_hotspot " style="top: {{block.settings.hotspot_2_vertical_position}}%; left: {{block.settings.hotspot_2_horizontal_position}}%"></div>
                {% endif %}
                {% if block.settings.block_image != blank %}
                  {% render 'responsive-picture'
                    , desktopImage: block.settings.block_image
                    , img-class: 'w-full' %}
                {% else %}
                  {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <!-- Heading and description -->
              {% if block.settings.heading != blank %}
                <div class="heading h2">{{ block.settings.heading }}</div>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="text">{{ block.settings.description }}</div>
              {% endif %}
              <!-- Button -->
              {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                <a href="{{ block.settings.button_link }}" class="button">
                  {{ block.settings.button_label }}
                </a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </splider-component>
</div>
{% schema %}
  {
    "name": "Shop the look",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "select",
        "id": "slide_type",
        "label": "Slider type",
        "options": [
          {
            "value": "loop",
            "label": "Loop"
          }, {
            "value": "fade",
            "label": "Fade"
          }, {
            "value": "slide",
            "label": "Slide"
          }
        ]
      },
      {
        "type": "range",
        "id": "slide_per_page",
        "min": 1,
        "max": 10,
        "label": "Slide per page",
        "default": 2
      },
      {
        "type": "header",
        "content": "Padding settings"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Top Padding",
        "default": 10
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 10
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Click me"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }, {
            "type": "header",
            "content": "Hotspot settings"
          }, {
            "type": "checkbox",
            "id": "hotspot_primary",
            "label": "Show primary hotspot"
          }, {
            "type": "product",
            "id": "hotspot_product_1",
            "label": "Primary hotspot product"
          }, {
            "type": "range",
            "id": "hotspot_1_horizontal_position",
            "min": 10,
            "max": 100,
            "default": 10,
            "unit": "%",
            "step": 1,
            "label": "Primary hotspot horizontal position"
          }, {
            "type": "range",
            "id": "hotspot_1_vertical_position",
            "min": 10,
            "max": 100,
            "default": 10,
            "unit": "%",
            "step": 1,
            "label": "Primary hotspot vertical position"
          }, {
            "type": "checkbox",
            "id": "hotspot_secondory",
            "label": "Show secondory hotspot"
          }, {
            "type": "product",
            "id": "hotspot_product_2",
            "label": "Secondory hotspot product"
          }, {
            "type": "range",
            "id": "hotspot_2_horizontal_position",
            "min": 10,
            "max": 100,
            "default": 10,
            "unit": "%",
            "step": 1,
            "label": "Secondory hotspot horizontal position"
          }, {
            "type": "range",
            "id": "hotspot_2_vertical_position",
            "min": 10,
            "max": 100,
            "default": 10,
            "unit": "%",
            "step": 1,
            "label": "Secondory hotspot vertical position"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop the look"
      }
    ]
  }
{% endschema %}